<ion-header>
  <ion-toolbar color="vermelho">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" color="branco"></ion-back-button>
    </ion-buttons>
    <ion-title color="branco">Entrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="login">
        <h4>Login</h4>
      </ion-tab-button>
      <ion-tab-button tab="registar">
        <h4>Registar</h4>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>