<ion-content>
  <ion-grid fixed>
    <ion-row text-center>
      <b>Siga estas instruções para fazer a sua visita</b>
    </ion-row>
    <hr>
    <ion-row justify-content-center>
      <ol>
        <li>Abra a timeline da aplicação normal</li>
        <li>Faça scroll e abra as peças que mais lhe interessa</li>
        <li>Clique no botão <i style="color:#E72F37;" class="fas fa-bookmark"></i> para guarda a peça</li>
        <li>Depois nos filtros filtre por peças guardadas</li>
      </ol>
    </ion-row>
    <ion-row justify-content-center>
      <h1>Aproveite <i class="fas fa-thumbs-up"></i></h1>
    </ion-row>
  </ion-grid>

</ion-content>