<ion-content>
  <ion-grid fixed>
    <ion-row text-center>
      <b>Siga estas instruções para fazer a Visita Automática</b>
    </ion-row>
    <hr>
    <ion-row justify-content-center>
      <ol>
        <li>Ligue o Bluetooth</li>
        <li>Aproxime-se de uma peça e a aplicação automaticamente apresenta informações sobre a tal.</li>
        <li>Se quiser ver ainda mais informações pode clicar no botão mais.</li>
      </ol>
    </ion-row>
    <ion-row text-center>
      <p>O utilizador pode seguir a timeline para ver as peças por ordem ou saltar para as peças que quiser e ainda tem
        a opção de filtrar para ver apenas as peças que lhe importam</p>
    </ion-row>
    <ion-row justify-content-center>
      <h1>Aproveite <i class="fas fa-thumbs-up"></i></h1>
    </ion-row>
  </ion-grid>

</ion-content>