<ion-header>
  <ion-toolbar color="vermelho">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" color="branco"></ion-back-button>
    </ion-buttons>
    <ion-title color="branco">Tutorial</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="tab1">
        <h4>Visita Auto</h4>
      </ion-tab-button>
      <ion-tab-button tab="tab2">
        <h4>MyVisit</h4>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>